.article {
    position: relative;
    background: white;
    margin: 5% 0;
    border-radius: 10px;
    width: 90%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .webpic {
    width: 100%;
    margin-bottom: 5%;
    border-radius: 10px;
  }
  .content {
    font-size: 18px;
  }
  .blackLink {
    color: black;
    text-decoration: inherit; /* no underline */
  }
  img {
    width: 100%;
    height: auto;
  }