.blog{
    background: rgba(256, 256, 256, 0.9);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0px 5% 20px 5%;
    padding: 8px 5%;
    font-size: 24px;
}